/* Checkout Stemps */
.MuiStepConnector-line {
  display: none !important;
}

.MuiStepConnector-root {
  height: 1px;
  background-color: rgba(0, 0, 0, 0.349);
}

.MuiStepConnector-active,
.MuiStepConnector-completed {
  background-color: var(--accent);
}

/* Order Success  */
.orderSuccess {
  margin: auto;
  text-align: center;
  padding: 10vmax;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.orderSuccess > svg {
  font-size: 7vmax;
  color: #4BB543;
}
.orderSuccess > p {
  font-size: 1.2rem;
}
.orderSuccess > a {
  background-color: var(--accent);
  color: var(--white);
  border: none;
  padding: 1vmax 3vmax;
  cursor: pointer;
  font: 400 .9rem "Lato", sans-serif;
  text-decoration: none;
  margin: 2vmax;
}

@media screen and (max-width: 600px) {
  .orderSuccess > a {
    padding: 3vw 6vw;
    font: 400 4vw "Lato", sans-serif;
    margin: 2vmax;
  }

  .orderSuccess > svg {
    font-size: 3rem;
  }
  .orderSuccess > p {
    margin: 2vmax;
  }
}
