.swiperSlide-product-images {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-details {
  background-color: rgb(255, 255, 255);
  max-width: 100%;
  padding: 1.5rem 0;
  box-sizing: border-box;
  display: flex;
}

.product-details > div {
  /* .product-details-swiper { */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 2rem;
  box-sizing: border-box;
}

.product-details > div:last-child {
  align-items: flex-start;
}

.carousel-image {
  width: 320px;
}

.detailsBlock-1 > h2 {
  color: rgb(54, 54, 54);
  font: 600 1.6vmax "Lato";
}

.detailsBlock-1 > p {
  color: rgba(54, 54, 54, 0.582);
  font: 200 0.6vmax cursive;
}

.detailsBlock-2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.205);
  border-bottom: 1px solid rgba(0, 0, 0, 0.205);
  width: 70%;
  padding: 1vmax 0;
}

.detailsBlock-2-span {
  font: 200 0.8vmax cursive;
  color: rgba(0, 0, 0, 0.699);
}

.detailsBlock-3 {
  width: 70%;
}

.detailsBlock-3-1 {
  display: flex;
  align-items: center;
}

.detailsBlock-3-1-1 > button {
  border: none;
  background-color: rgba(0, 0, 0, 0.616);
  padding: 0.5vmax;
  cursor: pointer;
  color: var(--white);
  transition: all 0.5s;
}
.detailsBlock-3-1-1 > button:hover {
  background-color: rgba(0, 0, 0, 0.767);
}

.detailsBlock-3-1-1 > input {
  border: none;
  padding: 0.5vmax;
  width: 1vmax;
  text-align: center;
  outline: none;
  font: 400 0.8vmax "Lato";
  color: rgba(0, 0, 0, 0.74);
}

.detailsBlock-3-1 > button {
  width: 80%;
  letter-spacing: 0.1rem;
  border: none;
  cursor: pointer;
  color: var(--white);
  transition: all 0.5s;
  background-color: var(--accent);
  font: 500 1rem "Lato";
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem;
  outline: none;
}

.detailsBlock-3-1 > button:hover {
  background-color: var(--accent_hover);
}

.detailsBlock-3 > p {
  border-top: 1px solid rgba(0, 0, 0, 0.205);
  border-bottom: 1px solid rgba(0, 0, 0, 0.205);
  padding: 1vmax 0;
  color: rgba(0, 0, 0, 0.651);
  font: 400 1vmax "Lato";
  margin: 1vmax 0;
}

.detailsBlock-4 {
  color: rgba(0, 0, 0, 0.897);
  font: 500 1.2vmax sans-serif;
}

.detailsBlock-4 > p {
  color: rgba(0, 0, 0, 0.534);
  font: 300 0.8vmax sans-serif;
}

.detailsBlock-price-detailsBlock {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.detailsBlock-price-detailsBlock > .mrp {
  text-decoration: line-through;
}

.rate-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 600px) {
  .product-details {
    padding-top: 0;
    flex-direction: column;
    height: unset;
  }

  .product-details > div:last-child {
    align-items: center;
  }

  .detailsBlock-1 > h2 {
    font-size: 2.8vmax;
    text-align: center;
  }

  .detailsBlock-1 > p {
    text-align: center;
    font-size: 1vmax;
  }

  .detailsBlock-2 {
    justify-content: center;
  }
  .detailsBlock-2 > span {
    font-size: 1.5vmax;
  }

  .detailsBlock-price-detailsBlock {
    justify-content: center;
  }

  .detailsBlock-price-detailsBlock > h2 {
    font-size: 1.3rem;
  }

  .detailsBlock-3-1 {
    flex-direction: column;
  }

  .detailsBlock-3-1-1 {
    padding: 2vmax 0;
  }
  .detailsBlock-3-1-1 > button {
    padding: 1.2vmax;
    width: 4vmax;
  }

  .detailsBlock-3-1-1 > input {
    padding: 1.5vmax;
    width: 3vmax;
    font: 400 1.8vmax "Lato";
  }

  .detailsBlock-3-1 > button:last-child {
    font: 500 1.7vmax "Lato";
    padding: 1.5vmax;
    width: 20vmax;
    margin: 3vmax 0;
  }

  .detailsBlock-3 > p {
    padding: 2.5vmax 0;
    text-align: center;
    font: 400 2vmax "Lato";
  }

  .detailsBlock-4 {
    font: 500 2.5vmax sans-serif;
  }

  .detailsBlock-4 > p {
    font: 300 1.8vmax sans-serif;
  }

  .submitReview {
    font: 500 1.7vmax "Lato";
    padding: 1.5vmax;
    width: 20vmax;
    margin: 3vmax 0;
  }

  .reviewCard > p {
    font: 600 3vw "Lato";
  }
  .reviewCardComment {
    font: 300 5vw cursive;
  }
}
